main {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  padding-top: 20px;
  box-sizing: border-box; 
}




body {
  margin: 0;
  padding: 0;
}


header,
footer {
  font-family: 'Rubik', sans-serif;
  color: white;
  padding: 20px;
  background-color: #1E5945;
  text-align: center;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
}

footer {

}

@media screen and (max-width: 1000px) {
#on {
  width: 150px;
  height: 150px;
}
header {
  height: 400px;
  font-size: 50px;
}
main {
  font-size: 50px;
}
footer {
  height: 300px;
  font-size: 30px;
}
}

@media screen and (min-width: 1001px) {
#on {
  width: 150px;
  height: 150px;
}
header {
  height: 400px;
  font-size: 50px;
}
main {
  font-size: 50px;
}
footer {
  height: 300px;
  font-size: 30px;
}
}
